.nav1{display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;}
    .nav2{display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;}
    .nav2 a{text-decoration: none;
    color: black;}
    .nav1 a:hover{color: brown;cursor: pointer;}
    header {position: sticky;
        top:0px;
        z-index:1;
    }
    #head{text-decoration: none;
    color: black;
    font-size: 30px;
    position: relative;
    left:100px;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;}
    #head:hover{color: brown; cursor: pointer;}

    .blog {display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        position: relative;
        left:300px;
        top:50px;}

    .blog1 {display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            left:600px;
            top:150px;
           padding-left:7px;}
    .sideblog {display: flex;
        flex-direction:row;
        justify-content: space-between;
        width:700px;}
    
    .blog2 {display: flex;
        flex-direction: column;
        align-items: center;
        width:300px;
        position: relative;
        left:1015px;
        bottom:100px;}
    
#text { border-left: solid brown 3px;
    padding: 5px;}
#text1 { border-left: solid brown 3px;
        padding: 5px;}
        .foot{display: flex;
            flex-direction: column;}
            .foot1{display: flex;
            flex-direction: column;}
            .foot3{display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 600px;
            position: relative;
            left:460px;
            font-size:20px}
            h2{text-align: center;
                position: relative;
                bottom:-10px
            }
            footer {background-color: bisque;
                height: 300px;}
            input {padding:10px}
            Button {padding:10px;
            position: relative;
            right:200px;
            bottom:50px;
            border-radius: 10px;
            background-color: rgb(237, 207, 207)}
            button:hover {color:rgb(222, 75, 112);
                cursor: pointer;}
            img:hover{opacity: 0.5;
                cursor: pointer;
            }
            img{box-shadow: rgb(205, 204, 204) 5px 5px 5px 5px;
            border-radius: 10px;}
            input:focus{color:rgb(228, 117, 117);}
            p::first-letter{color: rgb(253, 7, 7);}
            p::selection{color: rgb(243, 182, 103);}

            
                
    